<h1>Episode</h1>

<h3><%= "Date: #{@episode.date}" %></h3>

<h3>Guests</h3>

<ul>
  <% @episode.guests.each do |guest| %>
    <% app = Appearance.where(guest_id: guest.id, episode_id: @episode.id).first %>
    <li>
      <%= link_to guest.name, guest %> <br>
      Producer: <%= app.user.username %> <br>
      Rating: <%= app.rating %>
      <% if logged_in? %>
        <%= link_to "Edit Rating", edit_appearance_path(app) %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>
