<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "Guests", guests_path %>
    <%= link_to "Episode", episodes_path %>
    <% if !logged_in? %>
      <%= link_to "Log In", login_path %>
    <% else %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
      <br>
      <%= "Hello, #{current_user.username}!" %>
    <% end %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
  </body>
</html>
